<div class="container">
  <nz-select class="wide">
    <nz-option
      class="wide"
      *ngFor="let item of [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]"
      [nzLabel]="item"
    ></nz-option>
  </nz-select>
  <p>
    Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Some Text Some
    Text Some Text Some Text Some Text Some Text Some Text Some Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Some Text Some Text Some Text
    Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Some Text Some Text Some Text Some Text Some
    Text Some Text Some Text Some Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Some Text Some Text Some Text Some Text Some Text Some Text
    Some Text Some Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Some Text Some
    Text Some Text Some Text Some Text Some Text Some Text Some Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Some Text Some Text Some Text
    Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text Text Some Text Some Text Some TextSome Text
    Text Some Text Some Text Some TextSome Text Text Some Text Some Text Some
    TextSome Text Text Some Text Some Text Some TextSome Text Text Some Text
    Some Text Some TextSome Text
  </p>
</div>
